body{
    background-image: url('https://wallpaperaccess.com/full/1374076.jpg');
    background-repeat: no-repeat;
    /* width: 100%;
    height: 100%; */
}
#signup{
    background-image: url('https://c1.wallpaperflare.com/preview/552/758/364/computer-laptop-macbook-coding.jpg');
    background-repeat: no-repeat;
}